{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

{% include "blog/_layouts/header.html" %}
<body>

    <!-- Navigation -->
    {% include "blog/_layouts/nav.html" %}
    
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% static 'blog/img/about-bg.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>测试站</h1>
                        <hr class="small">
                        <span class="subheading">Everyday I'm suffling， lalala！ lol</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    {% include "blog/_layouts/footer.html" %}
    </body>

</html>
