{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

{% include "blog/_layouts/header.html" %}
<body>

    <!-- Navigation -->
    {% include "blog/_layouts/nav.html" %}
    
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% static 'blog/img/about-bg.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>ABOUT ME</h1>
                        <hr class="small">
                        <span class="subheading"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                一直想要用rails写一个博客，到后来还是用了python，虽然功能上非常简单，而且我也并没有一直写博文的习惯，不过既然写好了，就准备挂上线吧。

                开发用到的是django框架，postgresql数据库，并且博文直接支持markdown，在后台写markdown可以预览发布，这算是一大特点吧。

                博客的名字取自杰克凯鲁亚克的小说《在路上》。虽然我读完了中文版还试着去读英文原版，结果却一直都没有读完搁浅了。但这本小说依旧对我来说非常重要。
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    {% include "blog/_layouts/footer.html" %}
    </body>

</html>
