{% load staticfiles %}
{% load django_markdown %}

<!DOCTYPE html>
<html lang="en">

{% include "blog/_layouts/header.html" %}
<body>

    <!-- Navigation -->
    {% include "blog/_layouts/nav.html" %}
    
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% static 'blog/img/about-bg.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>realhu.tk</h1>
                        <hr class="small">
                        <span class="subheading">Python/Java Programmer, Arch Linux Fan, Football Fan </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            {{ about | markdown }}

            </div>
            <hr>
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <center>
                    <div class="github-card" data-github="gccpacman" data-width="400" data-height="317" data-theme="medium"></div>
                </center>
            </div>
        </div>
    </div>

    <hr>

<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
    <!-- Footer -->
    {% include "blog/_layouts/footer.html" %}
    </body>

</html>
